.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td, .th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: #dddddd;
}

.grid-container {
    display: grid;
}

.grid-two-auto-columns {
    grid-template-columns: auto auto;
}

.margin-bottom-one-rem {
    margin-bottom: 1rem;
}

.justify-content-space-between {
    justify-content: space-between;
}